### Load libs

In [2]:
import requests 
from bs4 import BeautifulSoup as bs

### Store Columns and Rows

In [3]:
r = requests.get("https://en.wikipedia.org/wiki/Mr._Olympia")
webpage = bs(r.content)
table = webpage.find_all("table", {"class": "wikitable"})[0]

In [4]:
columns_name = table.find_all('th')
columns_name = [th.text.strip() for th in columns_name]

columns_name

['#', 'Year', 'Winner(s)[a]', 'Award', 'Venue']

In [5]:
rows = table.tbody.find_all('tr')
rows = rows[1:]

l = []
for tr in rows:
    td = tr.find_all('td')
    row = [str(tr.get_text()).strip() for tr in td]
    l.append(row)
    
for row in l:
    print(row)

['1', '1965', 'Larry Scott[31]', '$1,000', 'New York, United States']
['2', '1966']
['3', '1967', 'Sergio Oliva[32]']
['4', '1968']
['5', '1969']
['6', '1970', 'Arnold Schwarzenegger[32]']
['7', '1971', 'Paris, France']
['8', '1972', 'Essen, West Germany']
['9', '1973', 'New York, United States']
['10', '1974', 'Arnold Schwarzenegger[32](Heavyweight & overall)', 'Franco Columbu(Lightweight)']
['11', '1975', '$2,500', 'Pretoria, South Africa']
['12', '1976', 'Franco Columbu[32](Lightweight & overall)', 'Ken Waller(Heavyweight)', '$5,000', 'Columbus, United States']
['13', '1977', 'Frank Zane[32](Lightweight & overall)', 'Robby Robinson(Heavyweight)']
['14', '1978', '$15,000']
['15', '1979', 'Mike Mentzer(Heavyweight)', '$25,000']
['16', '1980', 'Arnold Schwarzenegger[32]', 'Sydney, Australia']
['17', '1981', 'Franco Columbu[32]', 'Columbus, United States']
['18', '1982', 'Chris Dickerson[32]', 'London, United Kingdom']
['19', '1983', 'Samir Bannout[32]', 'Munich, West Germany']
['20', '1984', 'Lee Haney[32]', '$50,000', 'New York, United States']
['21', '1985', 'Brussels, Belgium']
['22', '1986', '$55,000', 'Columbus, United States']
['23', '1987', 'Gothenburg, Sweden']
['24', '1988', 'Unknown', 'Los Angeles, United States']
['25', '1989', 'Rimini, Italy']
['26', '1990', '$100,000', 'Chicago, United States']
['27', '1991', 'Orlando, United States']
['28', '1992', 'Dorian Yates[32]', 'Helsinki, Finland']
['29', '1993', 'Atlanta, United States']
['30', '1994']
['31', '1995', '$110,000']
['32', '1996', 'Chicago, United States']
['33', '1997', 'Los Angeles, United States']
['34', '1998', 'Ronnie Coleman[32]', 'New York, United States']
['35', '1999', 'Las Vegas, United States']
['36', '2000']
['37', '2001']
['38', '2002']
['39', '2003']
['40', '2004', '$120,000']
['41', '2005', '$150,000']
['42', '2006', 'Jay Cutler[32]', '$155,000']
['43', '2007']
['44', '2008', 'Dexter Jackson[32]']
['45', '2009', 'Jay Cutler[32]', '$200,000']
['46', '2010']
['47', '2011', 'Phil Heath[32]']
['48', '2012', '$250,000']
['49', '2013']
['50', '2014', '$275,000']
['51', '2015', '$400,000']
['52', '2016']
['53', '2017']
['54', '2018', 'Shawn Rhoden[33]']
['55', '2019', 'Brandon Curry[34]']
['56', '2020', 'Mamdouh Elssbiay[35]', 'Orlando, United States']
['57', '2021']
['58', '2022', 'Hadi Choopan', 'Las Vegas, United States']
['59', '2023', 'Derek Lunsford', 'Orlando, United States']